{% load i18n %}
<!DOCTYPE html>
<html lang="{{ request_language|default:'de' }}">
<head>
    <meta charset="UTF-8">
    <title>{% trans "Admin Login" %}</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="shortcut icon" href="repair_system\static\favicon.ico" type="image/x-icon">

</head>
<body class="bg-gray-100 flex items-center justify-center h-screen">
    <div class="bg-white p-8 rounded shadow w-full max-w-sm">
        <h2 class="text-2xl font-bold mb-6 text-center">{% trans "Admin Login" %}</h2>
        {% if msg %}
            <p class="text-red-600 mb-4 text-center">{{ msg }}</p>
        {% endif %}
        <form method="post">
            {% csrf_token %}
            <input name="username" type="text" placeholder="{% trans 'Username' %}" class="w-full p-3 mb-4 border rounded focus:ring-2 focus:ring-blue-400">
            <input name="password" type="password" placeholder="{% trans 'Password' %}" class="w-full p-3 mb-4 border rounded focus:ring-2 focus:ring-blue-400">
            <button type="submit" class="w-full bg-blue-600 text-white p-3 rounded hover:bg-blue-700 transition">{% trans "Login" %}</button>
        </form>
    </div>
</body>
</html>
